body {
margin: 60px auto; 
width: 70%;
}

header {
font-family: 'Source Sans Pro', 'Helvetica', 'Sans-Serif';
background-color: #D8D856;
color:white;
border: 3px solid #E7E7E7;
padding: 5px;
}

nav ul {
font-family: 'Source Sans Pro', 'Helvetica', 'Sans-Serif';
list-style-type: none;
padding: 0px;
margin: 0px;
overflow: hidden;
background-color: #333;
}

nav ul li {
float: left;
}

nav ul li a {
display: block;
color: #FFFFFF;
text-align: center;
padding: 14px 16px;
text-decoration: none;

}

nav ul li a:hover {
background-color: #111;;
}

nav ul li a.active {
color: #FFFFFF;
background-color: #FF00FF;
text-decoration: underline;
}

h1 {
font-size: 3em;
font-family: 'Source Sans Pro', 'Helvetica', 'Sans-Serif';
}

p {
font-size: 1.5em;
font-family: 'Source Sans Pro', 'Helvetica', 'Sans-Serif';
color: #000000;
}

footer ul {
font-family: 'Source Sans Pro', 'Helvetica', 'Sans-Serif';
padding: 0px;
margin: 0px;
list-style: none;
font-weight: bold;
}

footer ul li a {
text-decoration: none;
color:black;
}

footer ul li a:hover {
 text-decoration: underline;
}

footer {
border-top: 1px solid #9ACD32;
font-size: 0.8em;
}


hero {
   background-image: url('Jubbajubba88.github.io/wall street.jpg'); 
   background-size: cover;
   background-position: center center;
   position: relative;
   top: 0;
   bottom: 0;
   height: 100vh;
   z-index: -10;
}

hero-overlay {
   position: absolute;
   top: 0;
   bottom: 0;
   height: 100%;
   width: 100%;
   z-index: -5;
   background-color: rgba(0,0,0,0.5)
}    
   


