body {
margin: 60px auto; 
width: 70%;
}

header {
font-family: 'Source Sans Pro', 'Helvetica', 'Sans-Serif';
background-color: #00BFFF;
color:white;
border: 3px solid #E7E7E7;
padding: 5px
}

footer ul {
font-family: 'Source Sans Pro', 'Helvetica', 'Sans-Serif';
padding: 0px;
margin: 0px;
list-style: none;
font-weight: bold;
}

nav ul {
font-family: 'Source Sans Pro', 'Helvetica', 'Sans-Serif';
list-style-type: none;
padding: 0px;
margin: 0px;
overflow: hidden;
border: 1px solid #9ACD32;
background-color: #00BFFF;
}

nav ul li {
float: center;
}

nav ul li a {
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

nav ul li a:hover:not(.active) {
background-color: #1E90FF;
}

nav ul li a.active {
color: white;
background-color: #FF00FF;
}

